* {
  box-sizing: border-box;
  /*outline: 1px solid red !important;*/
}

body {
  font-size: 18px;
  background-color: #ccc;
}

.container {
  max-width: 900px;
  flex-direction: column;
  display: flex;
}

.title {
  margin: 20px auto;
}

.cats {
  display: flex;
  margin: 20px 0;
}

.cat-list-container {
  flex: 1;
}

.cat-list {
  list-style-type: none;
  margin: 20px 0;
  padding-left: 10px;
}

li {
  margin: 5px 0;
  border-bottom: 1px solid black;
  background-color: #bababa;
  cursor: pointer;
  padding-left: 5px;
}

li:hover {
  background-color: black;
  color: white;
  border-bottom-color: white;
}

.cat-name {
  margin: 20px 0;
  text-align: center;
}

.cat {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.count {
  margin: 20px auto;
}

img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: auto;
  cursor: pointer;
}

img:hover {
  box-shadow: 0 0 5px white;
}
